@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Roboto Slab", serif;
  scroll-behavior: smooth;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 80%;
  margin: auto;
}

.head_container {
  max-width: 90%;
  margin: auto;
}

/*--------------header--------*/
header {
  height: 8vh;
}

.logo img {
  width: 120px;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}

header ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header ul li {
  margin-left: 3rem;
}

header ul li a {
  font-size: 1.2rem;
  font-weight: 400;
  color: rgb(20, 18, 18);
  transition: 0.5s;
}

header ul li a:hover {
  color: #c1b086;
}

@media only screen and (max-width: 768px) {
  header ul {
    display: block;
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: rgb(12, 12, 12);
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.5s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    z-index: 20;
  }

  header ul.active {
    left: 0%;
  }

  header ul li {
    margin: 2.5rem 0;
  }

 
}

/*--------------header--------*/
/*--------------home--------*/
.home .image img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.home .text {
  max-width: 50%;
  color: black;
  margin: 20% 0 0 10%;
}

.home h1 {
  font-size: 80px;
  font-weight: 400;
}

.home p {
  font-weight: 400;
  line-height: 25px;
  font-family: sans-serif;
  font-size: 17px;
  margin: 50px 0 0 50px;
}

button {
  padding: 20px 40px;
  background: none;
  outline: none;
  border: 2px solid white;
  border-radius: 50px;
  color: white;
  margin-top: 20px;
}

.home button {
  margin-left: 50px;
}

.home .image_item {
  position: absolute;
  top: 20%;
  right: 20%;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.home .image_item img {
  width: 140px;
  height: 94px;
  margin: 10px;
  transition: 0.5s;
}

.home .image_item img.active {
  border: 2px solid white;
}

.home .box .text {
  position: relative;
}

.home .box .text::after {
  position: absolute;

  font-size: 500px;
  top: -120%;
  font-weight: bold;
  opacity: 0.1;
}

/*--------------home--------*/
/*--------------book--------*/
.flex {
  display: flex;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}



.book {
  margin-top: 2%;
  width: 139%;
  height: 25vh;
  color: white;
  border-radius: 10px;
}
.book .input {
  background: #3c49ac;
  padding: 2px 19px 22px 14px;
  height: 100px;
}

.book button{
  height:50px;
    width:170px;
  }

input {
  width: 100%;
  padding: 15px;
  border: 2px solid rgba(255, 255, 255, 0.1);
  outline: none;
  background: #263760;
  margin-top: 20px;
  color: white;
}

::placeholder {
  color: white;
}

/*--------------book--------*/
/*--------------about--------*/
.top {
  margin-top: 2%;
}

.mtop {
  margin-top: 5%;
}

.left,
.right {
  width: 100%;
}

.about {
  margin-bottom: 50px;
}

.about .img {
  position: relative;
}

.about .image1 {
  width: 310px;
  height: 450px;
}

.about .image2 {
  width: 325px;
  height: 220px;
  position: absolute;
  bottom: 5px;
  z-index: 2;
  right: 30%;
}

.heading {
  position: relative;
}

.heading::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100px;
  height: 4px;
  background: #c1b086;
}

.heading h5 {
  font-weight: 400;
  letter-spacing: 2px;
  padding-top: 20px;
  color: #5f5f5f;
}

.heading h3 {
  font-size: 30px;
  font-weight: 400;
  margin: 20px 0 40px 0;
  color: #222222;
}

.heading p {
  margin-bottom: 20px;
  line-height: 25px;
  color: #5f5f5f;
  margin: 0 0 20px 50px;
}

.heading .btn1 {
  margin: 50px 0 20px 50px;
}

.btn1 {
  background: #cc8c18;
  color: white;
}

/*--------------about--------*/

/*--------------room--------*/
.flex1 {
  display: flex;
  justify-content: space-between;
}

.room .grid {
  grid-template-columns: repeat(3, 1fr);
  margin-top: 5%;
}

.room img {
  width: 100%;
  height: 100%;
  z-index: -1;
}

.room .box {
  box-shadow: 0 13px 43px 0 rgb(37 46 89/10%);
}

.room .text {
  padding: 20px;
}

.room h3 {
  font-weight: 400;
  margin-bottom: 10px;
}
.room p span {
  font-size: 12px;
  color: grey;
}

.room p {
  font-size: 20px;
}

/*--------------gallery--------*/
.gallery img {
  margin-top: 10%;
  width: 270px;
  height: 300px;
}

.owl-carousel .owl-next,
.owl-carousel .owl-prev {
  height: 50px;
  position: absolute;
  width: 50px;
  cursor: pointer;
  top: 50%;
  background: white !important;
  transition: 0.5s;
}

.owl-carousel .owl-prev {
  left: 33px;
}

.owl-carousel .owl-next {
  right: 33px;
}

.owl-carousel .owl-next:hover,
.owl-carousel .owl-prev:hover {
  background: #c1b086 !important;
}

/*--------------gallery--------*/

/*--------------footer--------*/
footer{
  margin: 5%;
  background-color: black;
  color: white;
  padding: 5px;
  transition: 0.5s;
}
footer h3 {
  margin-bottom: 20px;
}

footer li {
  margin-bottom: 15px;
  transition: 0.5s;
}

footer li:hover {
  color: #c1b086;
  cursor: pointer;
}

/*--------------footer--------*/
@media only screen and (max-width: 768px) {
  .home .box .text {
    max-width: 100%;
  }

  .home .box .text::after,
  .home .image_item {
    display: none;
  }
  .room {
    margin-bottom: 100px;
  }

  
}

@media only screen and (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .home .text {
    margin: 10% 0 0 0;
  }

  .home h1 {
    font-size: 40px;
  }

  .about p,
  .home p {
    margin: 50px 0 0 0;
  }

  .heading_top {
    margin-top: 100px;
  }

  .heading_top button {
    display: none;
  }
}

/*................new rooms............*/

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

/*..........New Css For Room Page........*/
/*...........offer........*/
.offer img {
  width: 100%;
  height: 100%;
}

.offer .right {
  padding: 20px;
  margin: 20px;
  box-shadow: 0 0 20px 3px rgb(0 0 0 / 5%);
}

.offer .content h4 {
  font-size: 20px;
  color: #627795;
  font-family: serif;
}

.offer .content .price{
  font-size: 50px;
}

.offer .content ul{
  color: #CC8C18;
}

.offer .content .button {
    display: inline-block;
    width: auto;
    max-width: 100%;
    border: 1px solid;
    padding: 12px 30px;
    font-size: 12px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: .08em;
    transition: .33s all ease;
    white-space: normal;
    text-transform: uppercase;
    cursor: pointer;
    text-align: center;
    background-color: #CC8C18;
    color: black;
    margin-top: 10px;
}



.offer .rate i {
  font-size: 13px;
  color: #cc8c18;
  margin: 10px 10px 20px 0;
}

.offer .content h5 {
  color: #cc8c18;
  margin-bottom: 10px;
}

.offer .box {
  transition: 0.5s;
  flex-direction: row;
}

.offer .box:hover {
  transform: translateY(-10px);
}



.offer .right {
  margin: 0px;
}

.flex1 {
  display: flex;
  justify-content: space-between;
}



/*.....  button....*/

button {
  background: #CC8C18;
  color: white;
  padding: 10px 20px;
  outline: none;
  border: none;
  border-radius: 30px;
  margin-left: 50%;
}

/*.......heading....*/

.heading1 {
  text-align: center;
}

.heading1 h5 {
  font-weight: 400;
  letter-spacing: 5px;
  color: #CC8C18;
  padding-top: 20px;
}

.heading1 h3 {
  color: #24416B;
  font-size: 45px;
  font-family: serif;
  font-weight: bold;
  margin: 10px 0 20px 0;
}


/*...............New Css Of gallery page......*/

/*...........Css For Gallery of room......*/

.restaurant .right {
  padding: 00px 50px 50px 100px;
  width: 100%;
}

.restaurant h2 {
  margin-bottom: 20px;
  font-weight: 400;
}

.restaurant .text p {
  margin-bottom: 50px;
  line-height: 25px;
}

.accordionItem {
  margin-top: 30px;
}

.accordionItem p {
  font-size: 15px;
  opacity: 0.8;
  font-family: sans-serif;
  line-height: 20px;
  
}

.accordionIHeading {
  cursor: pointer;
  width: 100%;
  border-radius: 3px;
  font-weight: 400;
  font-size: 17px;
  color: #CC8C18;
  margin-bottom: 20px;
  
}


.close .accordionItemContent {
  height: 0px;
  transition: height 1s ease-out;
  transform: scaleY(0);
  float: left;
  display: block;
  background-color: #f8f1f1;
}

.open .accordionItemContent .container{
margin :0px 20px;
}
.open .accordionItemContent {
  padding: 30px;
  background-color: wheat;
  width: 100%;
  margin: 0 0 10px 0;
  display: block;
  transform: scaleY(1);
  transform-origin: top;
  transition: transform 0.4s ease;
  box-sizing: border-box;
  box-shadow: 0 13px 43px 0 rgb(37 46 89 / 10%);
}

.restaurant .container{
  flex-direction: column;
}

.restaurant .right {
  padding: 0;
 
}

.restaurant .flex {
  flex-direction: column-reverse;
}
.banner {
    position: relative;
    background-color: var(--grey2);
    padding: 14rem 20%;
    padding: 14rem;
    padding: 8rem 2rem;
    display: grid;
    grid-template-columns: 1fr;
    height: 74vh;
    padding: 1rem 7rem;
}

.banner .right img {
  position: absolute;
  bottom: 0;
  right: 10%;
  top: 45%;
  right: 3rem;
    transform: translateX(-50%);
    width: 45rem;
  
}

.banner .heading1 h3{
  color: #24416B;
  font-size: 40px;
  font-family: serif;
  font-weight: bold;
  margin: 25px 0 20px 0;
}

.banner .heading1 h4{
  color: #24416B;
  font-size: 20px;
  font-family: serif;
  font-weight: bold;
  margin: 19px 0 20px 0;
}

.banner button{
  display: inline-block;
  width: auto;
  max-width: 100%;
  border: 1px solid;
  padding: 12px 30px;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  background-color: #CC8C18;
  margin-top: 10px;
  margin-left: 10px;
}
/*...... css....*/

